<script type="text/javascript" src="https://widget.payselection.com/lib/pay-widget.js"></script>
<script type="text/javascript">
    this.payselection = function() {
        var widget = new pw.PayWidget();
        console.log("PAY");
        widget.pay(
            {
                serviceId: "{$settings->site_id}",
                key: "{$settings->public_key}"
            },
            // Запрос с минимальным количеством параметров
            {$cart},
            // Запрос с максимальным количеством параметров
            // См. запрос Create
            {
                // Варианты ключей которые могут приходить по колбекам:
                // для onSuccess -> PAY_WIDGET:TRANSACTION_SUCCESS
                // для onError -> PAY_WIDGET:TRANSACTION_FAIL, PAY_WIDGET:CREATE_NETWORK_ERROR, PAY_WIDG:CREATE_BAD_REQUEST_ERROR
                onSuccess: function(res) {
                    console.log("onSuccess from shop", res);
                    location.reload();
                },
                onError: function(res) {
                    console.log("onFail from shop", res);
                },
                onClose: function(res) {
                    console.log("onClose from shop", res);
                },
            },
        );
    };
{if $settings->form_type == 'autoprewidget' OR $settings->form_type == 'autowidget'}
    document.addEventListener("DOMContentLoaded", function(event) {
        payselection();
    });
{/if}
</script>
{if $settings->form_type == 'prewidget' OR $settings->form_type == 'widget'}
    <input type="button" id="checkout" onclick="payselection();" value="{if $settings->pay_text != ''}{$settings->pay_text|escape}{else}[`Оплатить через «PaySelection»`]{/if}" />
{/if}